
h1{
  text-align: center;
  display: block;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  margin: 0 auto;
  font-style: italic;
  font-size: 300%
}

p{
  font-family: Helvetica;
  font-size: 200;
  border: 1px solid black;
}

.Profile-Image {
  text-align: center;
}

#Sana{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
